body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.line{
  border-bottom:1px solid #eee;
  margin-bottom: 30px;
}
input[type=checkbox] {
  cursor:pointer;
}
.header .btn-toolbar{
  display: inline-block;
  margin-top:20px;
  margin-bottom:10px;
}